"""apimaticapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from apimaticapi.api_helper import APIHelper
from apimaticapi.configuration import Server
from apimaticapi.controllers.base_controller import (
    BaseController,
)
from apimaticapi.exceptions.internal_server_error_response_exception import (
    InternalServerErrorResponseException,
)
from apimaticapi.exceptions.problem_details_exception import (
    ProblemDetailsException,
)
from apimaticapi.exceptions.unauthorized_response_exception import (
    UnauthorizedResponseException,
)
from apimaticapi.http.http_method_enum import (
    HttpMethodEnum,
)
from apimaticapi.models.validate_api_result import (
    ValidateApiResult,
)


class ApiValidationV2ExternalApisController(BaseController):
    """A Controller to access Endpoints in the apimaticapi API."""

    def __init__(self, config):
        """Initialize ApiValidationV2ExternalApisController object."""
        super(ApiValidationV2ExternalApisController, self).__init__(config)

    def validate_api_via_file_v_2(self,
                                  content_type,
                                  file):
        """Perform a POST request to /validation/v2/validate-via-file.

        Validate an API by uploading the API specification file.
        You can also specify [API
        Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while
        validating the API using this endpoint. When specifying Metadata, the
        uploaded file will be a zip file containing the API specification file and
        the `APIMATIC-META` json file.

        Args:
            content_type (ContentType): The request header parameter.
            file (typing.BinaryIO): The API specification file.<br>The type of the
                specification file should be any of the [supported
                formats](https://docs.apimatic.io/api-transformer/overview-transformer
                #supported-input-formats).

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/validation/v2/validate-via-file")
            .http_method(HttpMethodEnum.POST)
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream")
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ValidateApiResult.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("403", "Subscription Issue", ProblemDetailsException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).execute()

    def validate_api_via_url_v_2(self,
                                 url):
        """Perform a GET request to /validation/v2/validate-via-url.

        Validate an API by providing the URL of the API specification file.
        You can also specify [API
        Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while
        validating the API using this endpoint. When specifying Metadata, the URL
        provided will be that of a zip file containing the API specification file and
        the `APIMATIC-META` json file.

        Args:
            url (str): The URL for the API specification file.<br><br>**Note:** This
                URL should be publicly accessible.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/validation/v2/validate-via-url")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("url")
                .value(url)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ValidateApiResult.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("403", "Subscription Issue", ProblemDetailsException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).execute()
