"""apimaticapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.configurations.endpoint_configuration import (
    EndpointConfiguration,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from apimaticapi.api_helper import APIHelper
from apimaticapi.configuration import Server
from apimaticapi.controllers.base_controller import (
    BaseController,
)
from apimaticapi.exceptions.bad_request_response_sdk_exception import (
    BadRequestResponseSdkException,
)
from apimaticapi.exceptions.problem_details_exception import (
    ProblemDetailsException,
)
from apimaticapi.exceptions.unauthorized_response_exception import (
    UnauthorizedResponseException,
)
from apimaticapi.http.http_method_enum import (
    HttpMethodEnum,
)
from apimaticapi.models.user_code_generation import (
    UserCodeGeneration,
)


class CodeGenerationExternalApisController(BaseController):
    """A Controller to access Endpoints in the apimaticapi API."""

    def __init__(self, config):
        """Initialize CodeGenerationExternalApisController object."""
        super(CodeGenerationExternalApisController, self).__init__(config)

    def generate_sdk_via_file(self,
                              accept,
                              file,
                              template,
                              _optional_query_parameters=None):
        """Perform a POST request to /code-generations/generate-via-file.

        Generate an SDK for an API by by uploading the API specification file.
        This endpoint generates and then uploads the generated SDK to APIMatic's
        cloud storage. An ID for the generation performed is returned as part of the
        response.
        This endpoint does not import an API into APIMatic.

        Args:
            accept (Accept): Must be set to 'application/json' to ensure JSON
                response format
            file (typing.BinaryIO): The API specification file.<br>The type of the
                specification file should be any of the [supported
                formats](https://docs.apimatic.io/api-transformer/overview-transformer
                #supported-input-formats).
            template (Platforms): The structure contains platforms that APIMatic
                CodeGen can generate SDKs and Docs in.
            _optional_query_parameters (Array, optional): Additional optional query
                parameters are supported by this endpoint

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations/generate-via-file")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Accept")
                .value(accept)
                .is_required(True))
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream")
                .is_required(True))
            .form_param(Parameter()
                .key("template")
                .value(template)
                .is_required(True))
            .additional_query_params(_optional_query_parameters)
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserCodeGeneration.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", BadRequestResponseSdkException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("403", "Subscription Issue", ProblemDetailsException),
        ).execute()

    def generate_sdk_via_url(self,
                             body):
        """Perform a POST request to /code-generations/generate-via-url.

        Generate an SDK for an API by providing the URL of the API specification file.
        This endpoint generates and then uploads the generated SDK to APIMatic's
        cloud storage. An ID for the generation performed is returned as part of the
        response.
        This endpoint does not import an API into APIMatic.

        Args:
            body (GenerateSdkViaUrlRequest): Request Body

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations/generate-via-url")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/vnd.apimatic.userCodeGenerationDto.v1+json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserCodeGeneration.from_dictionary)
            .is_api_response(True),
        ).execute()

    def download_sdk(self,
                     codegen_id):
        """Perform a GET request to
        /code-generations/{codegen_id}/generated-sdk.

        Download the SDK generated via the Generate SDK endpoints.

        Args:
            codegen_id (str): The ID of code generation received in the response of
                the [Generate SDK Via
                File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%
                20File) or [Generate SDK Via URL
                ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20UR
                L) calls.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations/{codegen_id}/generated-sdk")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("codegen_id")
                .value(codegen_id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()

    def list_all_code_generations(self):
        """Perform a GET request to /code-generations.

        Get a list of all SDK generations performed with external APIs via the
        Generate SDK endpoints.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserCodeGeneration.from_dictionary)
            .is_api_response(True),
        ).execute()

    def download_input_file(self,
                            codegen_id):
        """Perform a GET request to /code-generations/{codegen_id}/input-file.

        Download the API Specification file used as input for a specific SDK
        generation performed via the Generate SDK endpoints.

        Args:
            codegen_id (str): The ID of the code generation to download the API
                specification for. The code generation ID is received in the response
                of the [Generate SDK Via
                File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%
                20File) or [Generate SDK Via URL
                ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20UR
                L) calls

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations/{codegen_id}/input-file")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("codegen_id")
                .value(codegen_id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()

    def get_a_code_generation(self,
                              codegen_id):
        """Perform a GET request to /code-generations/{codegen_id}.

        Get details on an SDK generation performed for an external API via the
        Generate SDK endpoints.

        Args:
            codegen_id (str): The ID of the code generation to fetch. The code
                generation ID is received in the response of the [Generate SDK Via
                File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%
                20File) or [Generate SDK Via URL
                ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20UR
                L) calls.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations/{codegen_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("codegen_id")
                .value(codegen_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UserCodeGeneration.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_code_generation_for_external_apis(self,
                                                 codegen_id):
        """Perform a DELETE request to /code-generations/{codegen_id}.

        Delete an SDK generation performed for an API via the Generate SDK endpoints.

        Args:
            codegen_id (str): The ID of the code generation to delete. The code
                generation ID is received in the response of the [Generate SDK Via
                File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%
                20File) or [Generate SDK Via URL
                ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20UR
                L) calls.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/code-generations/{codegen_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("codegen_id")
                .value(codegen_id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()
