"""apimaticapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.configurations.endpoint_configuration import (
    EndpointConfiguration,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from apimaticapi.api_helper import APIHelper
from apimaticapi.configuration import Server
from apimaticapi.controllers.base_controller import (
    BaseController,
)
from apimaticapi.exceptions.api_exception import (
    ApiException,
)
from apimaticapi.exceptions.internal_server_error_response_exception import (
    InternalServerErrorResponseException,
)
from apimaticapi.exceptions.problem_details_exception import (
    ProblemDetailsException,
)
from apimaticapi.exceptions.unauthorized_response_exception import (
    UnauthorizedResponseException,
)
from apimaticapi.http.http_method_enum import (
    HttpMethodEnum,
)
from apimaticapi.models.portal_generation_async_response import (
    PortalGenerationAsyncResponse,
)
from apimaticapi.models.portal_generation_status_response import (
    PortalGenerationStatusResponse,
)


class DocsPortalGenerationAsyncController(BaseController):
    """A Controller to access Endpoints in the apimaticapi API."""

    def __init__(self, config):
        """Initialize DocsPortalGenerationAsyncController object."""
        super(DocsPortalGenerationAsyncController, self).__init__(config)

    def generate_on_prem_portal_via_build_input_async(self,
                                                      content_type,
                                                      file,
                                                      x_api_matic_callback_url=None):
        """Perform a POST request to /portal/v2.

        Create an async On-premise Documentation Portal Generation request by
        providing a Portal Build Input

        Args:
            content_type (ContentType): The request header parameter.
            file (typing.BinaryIO): The input file to the Portal Generator. Must
                contain the build file.
            x_api_matic_callback_url (str, optional): Optional header containing
                callback url. This url will be called by the server once the portal
                generation completes

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/portal/v2")
            .http_method(HttpMethodEnum.POST)
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream")
                .is_required(True))
            .header_param(Parameter()
                .key("X-APIMatic-CallbackUrl")
                .value(x_api_matic_callback_url))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PortalGenerationAsyncResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).execute()

    def get_portal_generation_status(self,
                                     id):
        """Perform a GET request to /portal/v2/{id}/status.

        Get the status of a portal generation request

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/portal/v2/{id}/status")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(PortalGenerationStatusResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).execute()

    def download_generated_portal(self,
                                  id):
        """Perform a GET request to /portal/v2/{id}/download.

        Downloads the portal artifacts. The generated artifacts include:
         1. SDKs
         2. Docs
         3. API Specification files
         The endpoint returns a zip file that contains a static Site and can be
        hosted on any Web Server.

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/portal/v2/{id}/download")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("422",
                "Unprocessable Entity - Contains error.zip for build issues",
                ApiException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()
