"""apimaticapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.configurations.endpoint_configuration import (
    EndpointConfiguration,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from apimaticapi.api_helper import APIHelper
from apimaticapi.configuration import Server
from apimaticapi.controllers.base_controller import (
    BaseController,
)
from apimaticapi.exceptions.internal_server_error_response_exception import (
    InternalServerErrorResponseException,
)
from apimaticapi.exceptions.problem_details_exception import (
    ProblemDetailsException,
)
from apimaticapi.exceptions.unauthorized_response_exception import (
    UnauthorizedResponseException,
)
from apimaticapi.http.http_method_enum import (
    HttpMethodEnum,
)
from apimaticapi.models.sdk_generation_async_response import (
    SdkGenerationAsyncResponse,
)
from apimaticapi.models.sdk_generation_status_response import (
    SdkGenerationStatusResponse,
)


class SdkGenerationAsyncController(BaseController):
    """A Controller to access Endpoints in the apimaticapi API."""

    def __init__(self, config):
        """Initialize SdkGenerationAsyncController object."""
        super(SdkGenerationAsyncController, self).__init__(config)

    def generate_sdk_via_build_input_async(self,
                                           content_type,
                                           file,
                                           language,
                                           x_api_matic_callback_url=None,
                                           package_version=None):
        """Perform a POST request to /sdk.

        Create an async SDK Generation request by providing a Build Input

        Args:
            content_type (ContentType): The request header parameter.
            file (typing.BinaryIO): The input file to the SDK Generator. Must contain
                the build file or a spec folder containing the API Specification.
            language (SdkLanguages): Languages for which SDKs can be generated.
            x_api_matic_callback_url (str, optional): Optional header containing
                callback url. This url will be called by the server once the SDK
                generation completes
            package_version (str, optional): Optional field containing the package
                version to apply to the generated SDK.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sdk")
            .http_method(HttpMethodEnum.POST)
            .multipart_param(Parameter()
                .key("file")
                .value(file)
                .default_content_type("application/octet-stream")
                .is_required(True))
            .form_param(Parameter()
                .key("language")
                .value(language)
                .is_required(True))
            .header_param(Parameter()
                .key("X-APIMatic-CallbackUrl")
                .value(x_api_matic_callback_url))
            .form_param(Parameter()
                .key("packageVersion")
                .value(package_version))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SdkGenerationAsyncResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).execute()

    def get_sdk_generation_status(self,
                                  id):
        """Perform a GET request to /sdk/{id}/status.

        Get the status of an SDK generation request

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sdk/{id}/status")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SdkGenerationStatusResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).execute()

    def download_generated_sdk(self,
                               id):
        """Perform a GET request to /sdk/{id}/download.

        Downloads the SDK artifacts. The endpoint returns a zip file containing the
        generated SDK.

        Args:
            id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/sdk/{id}/download")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .auth(Single("Authorization")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Bad Request", ProblemDetailsException)
            .local_error("401", "Unauthorized", UnauthorizedResponseException)
            .local_error("500",
                "Internal Server Error",
                InternalServerErrorResponseException),
        ).endpoint_configuration(
            EndpointConfiguration()
            .has_binary_response(True),
        ).execute()
